{% extends 'base.html.twig' %}
{% block title %}Log In!{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">
                <div class="col-12">
                    <table class="table table-container">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>type</th>
                            <th>price</th>
                            <th>add to cart</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
{% endblock %}